{% load static %}<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Public Auditing for Cloud-Based Medical Storage</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
.footer-copyright
{
background:#dc3545;
}
 nav.navbar.bootsnav ul.nav > li > a , .title-left h3
 {
  color:#FFF !important;
 }
 label {color:#FFF !important; }
 </style>
</head>

<body style="background:url({% static 'images/4.jpg' %}); background-size:100%;">
    <!-- Start Main Top -->
  	
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav" style="background:#dc3545 !important;">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a style="color:#FFF;" class="navbar-brand" href="{% url 'register' %}">Public Auditing for Cloud-Based Medical Storage</a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'user_login' %}">DO & DR Login</a></li>
                       <li class="nav-item"><a class="nav-link" href="{% url 'aa_login' %}">Auditing Login</a></li>
                       <li class="nav-item"><a class="nav-link" href="/admin/">Cloud Login</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

           
        </nav>
        <!-- End Navigation -->
    </header>