{%include 'aa_header.html'%}
<div class="container" style="margin:0 auto;padding-top:50px;background:#DDD;">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Search Files</h5>
        <div class="card-body">
            
				 <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background:blue;color: #FFF">
                        <tr class="white">
                            <th scope="col" >S.No</th>
                            <th scope="col">File Name</th>
							<th scope="col">Enc_File</th>
							<th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for i in b %}
                        <tr style="background:#FFF;color: #000">
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.file_id.name}}</td>
							<td><a href="/media/enc_{{i.file_id.file}}" class="btn btn-success" target="_blank">Download</a></td>
							<td >
							{% if i.status == 'Pending' %}
								<a href="{% url 'generate_aakey' pk=i.id %}?email={{i.user_id.email}}" class="btn btn-warning">Send Keys</a>
							
							{% elif i.status == 'Send' %}
								<span style="background-color:green;" class="badge badge-info">Keys Generated</span>
							{% endif %}
							</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No FILES</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
            </div>
			
    </div>
</div>
</div>
